<% include ../partials/head %>
  <body id="login_layout">
    <script>
   window.fbAsyncInit = function() {
      FB.init({
         appId      : 141713656375126,
         xfbml      : true,
         version    : 'v2.6'
      });
   };

   (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
	
</script>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center signIn-card">
      <h2><b>Reg-E</b></h2>
      <p> login via social to get started</p>
      <button class="login-btn btn " id="googleIn"><i class="fa fa-google"></i> <b>google sign in</b></button><br/>
      <button class="login-btn btn " id="facebookIn"><i class="fa fa-facebook-official"></i> <b>facebook sign in</b></button><br/>
    </div>
  </div>
</div>
<% include ../partials/footer %>
  </body>
